<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Baby Used Item Trading</h1>

    <p>Login or Register with:</p>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>

    <p>Directly Create a Post Here:</p>
    <a href="/createpost" class="btn btn-default"><span class="fa fa-user"></span> Create a Posting</a>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        {{!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Baby Used Item</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Zipcode</a>
        </div> --}}
        <select class="custom-select" id="inputGroupSelect01">
          <option selected value="1">Baby Used Item</option>
          <option value="2">Zipcode</option>
        </select>
      </div>
      <input type="text" class="form-control" placeholder="Please Input Search Here!">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>


  </div>
</div>
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script src="/js/index.js"></script> --}}